<%= form_for(@book_profile) do |f| %>
  <% if @book_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_profile.errors.count, "error") %> prohibited this book_profile from being saved:</h2>

      <ul>
      <% @book_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :published %><br>
    <%= f.number_field :published %>
  </div>
  <div class="field">
    <%= f.label :isbn %><br>
    <%= f.text_field :isbn %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :autor %><br>
    <%= f.text_field :autor %>
  </div>
  <div class="field">
    <%= f.label :classificacion %><br>
    <%= f.text_field :classificacion %>
  </div>
  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.text_field :book_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
