  <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Ficha</h4>
        </div>
        <div class="modal-body">
          <%= bootstrap_form_for([@book, @book.profile], layout: :horizontal) do |f| %>
            <%= f.number_field_with_bootstrap :copy, label:'Ejemplar', control_col: "col-md-5", label_col:'col-md-3' %>
            <%= f.number_field_with_bootstrap :volumen, control_col: "col-md-5", label_col:'col-md-3' %>
            <%= f.number_field_with_bootstrap :tome, label:'Tomo', control_col: "col-md-5", label_col:'col-md-3' %>
            <%= f.number_field_with_bootstrap :accessible, label:'Accesible', control_col: "col-md-5", label_col:'col-md-3' %>
            <%= f.submit %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>