<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-md-12'>
      <h1>Subscriptores Bloqueados</h1>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-xs col-md-2'>
      <%= link_to 'Bloquear', new_blocked_path, class:'btn btn-default btn-block' %>
    </div>
    <div class='col-xs col-md-8'>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Subscriptor</th>
              <th>Fecha Termino</th>
              <th>Notas</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            <% @blockeds.each do |blocked| %>
              <tr>
                <td><%= blocked.subscriptor.fullname %></td>
                <td><%= blocked.end %></td>
                <td><%= blocked.notes %></td>
                <td><%= link_to edit_blocked_path(blocked), class:'btn btn-xs' do %>
                    <%= octicon 'pencil', class:'rigth' %>
                    <% end %>
                </td>
                <td><%= link_to blocked, method: :delete, data: { confirm: 'Eliminar de bloqueados?' }, class:'btn btn-xs'  do %>
                      <%= octicon 'trashcan', class:'rigth' %>
                    <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
