<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :books %><br>
    <%= f.number_field :books %>
  </div>
  <div class="field">
    <%= f.label :penalty %><br>
    <%= f.text_field :penalty %>
  </div>
  <div class="field">
    <%= f.label :returnDay %><br>
    <%= f.number_field :returnDay %>
  </div>
  <div class="field">
    <%= f.label :renovation %><br>
    <%= f.number_field :renovation %>
  </div>
  <div class="field">
    <%= f.label :vigencyStar %><br>
    <%= f.date_select :vigencyStar %>
  </div>
  <div class="field">
    <%= f.label :vigencyEnd %><br>
    <%= f.date_select :vigencyEnd %>
  </div>
  <div class="field">
    <%= f.label :library %><br>
    <%= f.text_field :library %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
