<div class='container be-soft_gray have_border_heroku full_borders'>
  <div class='row' >
    <div class='col-xs col-md-2'></div>
    <div class='col-xs col-md-7'>
      <%= bootstrap_form_for(@group, layout: :horizontal) do |f| %>
        <% if @group.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@group.errors.count, "error") %> No se pudo salvar!:</h2>
              <ul>
              <% @group.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
        <% end %>
        <%= f.text_field_with_bootstrap :description, label:'Descripcion' %>
        <%= f.number_field_with_bootstrap :books, label:'Libros' %>
        <%= f.text_field_with_bootstrap :penalty, label:'Penalizacion' %>
        <%= f.number_field_with_bootstrap :returnDay, label:'Fecha_Retorno' %>
        <%= f.number_field_with_bootstrap :renovation, label:'Renovacion' %>
        <%= f.text_field_with_bootstrap :vigencyStar, label:'Inicio_vicencia', class:'form-control xdate' %>
        <%= f.text_field_with_bootstrap :vigencyEnd, label:'Fin_Vigencia', class:'form-control xdate' %>
        <%= f.submit 'APLICAR',class:'btn btn-block be-border_heroku' %><br>
      <% end %>
    </div>
  </div>
</div>
