<div class='container be-round_ligth_gray'>
  <div class='row'>
    <div class='col-xs col-md-6'>
      <p>
        <strong>ISBN:</strong>
        <%= @book.isbn %>
      </p>
      <p>
        <strong>Titulo:</strong>
        <%= @book.title %>
      </p>
      <p>
        <strong>Autor:</strong>
        <%= @book.autor %>
      </p>
      <p>
        <strong>Classificación:</strong>
        <%= @book.classification %>
      </p>
      <p>
        <strong>Año:</strong>
        <%= @book.published %>
      </p>
      <p>
        <strong>Biblioteca:</strong>
        <%= @book.library.name %>
      </p>
    </div>
    <div class='col-xs col-md-6'>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <td>Ejemplar</td>
              <td>Volumen</td>
              <td>Tomo</td>
              <td>Accesible</td>
            </tr>
          </thead>
          <% if @book.profile %>
           <tbody>
             <td><%= @book.profile.copy %></td>
             <td><%= @book.profile.volumen %></td>
             <td><%= @book.profile.tome %></td>
             <td><%= @book.profile.accessible %></td>
           </tbody>
           <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs col-md-6'></div>
    <div class='col-xs col-md-6'>
      <%= octicon 'repo-push', class:'rigth left', :'aria-label'=>'FICHA', width:30, height:30 %>
      <div class='row'>
        <div id='profile'>
          <%= bootstrap_form_for([@book,@book.build_profile] ) do |f| %>
            <div class='col-md-2'>
              <%= f.text_field_with_bootstrap :copy, label:'ejemplar' %>
            </div>
            <div class='col-md-1'></div>
            <div class='col-md-2'>
              <%= f.text_field_with_bootstrap :volumen, label:'volumen' %>
            </div>
            <div class='col-md-1'></div>
            <div class='col-md-2'>
              <%= f.text_field_with_bootstrap :tome, label:'tomo' %>
            </div>
            <div class='col-md-1'></div>
            <div class='col-md-2'>
              <%= f.text_field_with_bootstrap :accessible, label:'accessible' %>
            </div>
          <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-4'></div>
    <div class='col-xs col-md-2'>
      <%= link_to 'Editar', edit_book_path(@book), class:'btn btn-md btn-block be-purple_strong' %>
    </div>
    <div class='col-xs col-md-2'>
      <%= link_to 'Regresar', books_path, class:'btn btn-md btn-block be-purple_strong' %>  
    </div>
  </div>
</div>
