<%= bootstrap_form_for(@responsable, layout: :defaul) do |f| %>
  <% if @responsable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@responsable.errors.count, "error") %> No se pudo salvar!:</h2>
      <ul>
      <% @responsable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-4 col-md-4'></div>
      <div class='col-xs-4 col-md-4'>
        <%= f.text_field_with_bootstrap :fullname, label:'Nombre Completo' %>
        <%= f.text_field_with_bootstrap :email, label:'Correo Electronico' %>
        <%= f.telephone_field_with_bootstrap :telephone, label:'Telefono' %>
        <%= f.collection_select_with_bootstrap :library_id, Library.all, :id, :name, label:'Biblioteca'  %>
        <%= f.submit 'SALVAR', class:'btn btn-md be-border_heroku btn-block' %>
      </div>
    </div>
  </div>
<% end %>
