<%= bootstrap_form_for(@subscriptor) do |f| %>
  <% if @subscriptor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscriptor.errors.count, "error") %> No se pudo salvar!:</h2>

      <ul>
      <% @subscriptor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-1 col-md-2'>
        <%= f.text_field_with_bootstrap :account, label:'cuenta' %>
      </div>
      <div class='col-xs-3 col-md-3'>
        <%= f.text_field_with_bootstrap :fullname, label:'Nombre Completo' %>
      </div>
      <div class='col-xs-3 col-md-3'>
        <%= f.collection_select_with_bootstrap :group_id, Group.all, :id, :description, label:'Grupo'  %>
      </div> 
      <div class='col-xs-4 col-md-4'>
        <%= f.collection_select_with_bootstrap :school_id, School.all, :id, :name, label:'Escuela'  %>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-3 col-md-4'>
        <%= f.email_field_with_bootstrap :email, label:'Correo Electronico' %>
      </div>
      <div class='col-xs-4 col-md-4'>
        <%= f.text_field_with_bootstrap :address, label:'Direccion' %>
      </div>
      <div class='col-xs-4 col-md-4'>
        <%= f.text_field_with_bootstrap :colony, label:'Colonia' %>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-2 col-md-2'>
        <%= f.text_field_with_bootstrap :city, label:'Ciudad' %>
      </div>
      <div class='col-xs-2 col-md-2'>
        <%= f.text_field_with_bootstrap :state, label:'Estado' %>
      </div>
      <div class='col-xs-1 col-md-1'>
        <%= f.text_field_with_bootstrap :cp, label:'C.P.' %>
      </div>
      <div class='col-xs-2 col-md-2'>
        <%= f.phone_field_with_bootstrap :telephone, label:'Telefono Fijo' %>
      </div>
      <div class='col-xs-2 col-md-2'>
        <%= f.phone_field_with_bootstrap :celular %>
      </div>
      <div class='col-xs-4 col-md-3'>
        <%= f.text_area_with_bootstrap :notes, label:'Comentarios' %>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-3 col-md-3'>
        <%= f.date_field_with_bootstrap :vigencyStart, label:'Inicio Vigencia', class:'xdate' %>
      </div>
      <div class='col-xs-3 col-md-3'>
        <%= f.date_field_with_bootstrap :vigencyEnd, label:'Fin Vigencia', class:'' %>
      </div>
      <div class='col-xs-1 col-md-1'>
        <%= f.number_field_with_bootstrap :age, label:'Edad' %>
      </div>
      <div class='col-xs-4 col-md-4'>
        <%= f.text_field_with_bootstrap :gurantor, label:'Fiador' %>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-8 col-md-8'>
        <%= f.text_area_with_bootstrap :picture %>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-4 col-md-4'></div>
      <div class='col-xs-4 col-md-4'>
         <%= f.submit 'SALVAR', class:'btn btn-md be-border_heroku btn-block' %>
      </div>
    </div>
  </div>
  <%#= f.methods.grep /bootstrap/ %>
<% end %>
