<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-md-12'>
      <h1>Listado SUbscriptores</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class='row'>
    <div class='col-xs-10 col-md-12'>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Cuenta</th>
              <th>Nombre Completo</th>
              <!--<th>Groupo</th>
              <th>Escuela</th>-->
              <th>Email</th>
              <th>Dirección</th>
              <!--<th>Colonia</th>
              <th>Ciudad</th>
              <th>Estado</th>
              <th>C.P.</th>-->
              <th>Telefono Casa</th>
              <th>Celular</th>
              <!--<th>Foto</th>
              <th>Notas</th>
              <th>Inicio Vigencia</th>
              <th>Fin Vigencia</th>
              <th>Edad</th>
              <th>Fiador</th>-->
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @subscriptors.each do |subscriptor| %>
              <tr>
                <td><%= subscriptor.account %></td>
                <td><%= subscriptor.fullname %></td>
                <!--<td><%#= subscriptor.group.description %></td>
                <td><%#= subscriptor.school.name %></td>-->
                <td><%= subscriptor.email %></td>
                <td><%= subscriptor.address %></td>
                <!--<td><%#= subscriptor.colony %></td>
                <td><%#= subscriptor.city %></td>
                <td><%#= subscriptor.state %></td>
                <td><%#= subscriptor.cp %></td> -->
                <td><%= subscriptor.telephone %></td>
                <td><%= subscriptor.celular %></td>
                <!--<td><%#= subscriptor.picture %></td>
                <td><%#= subscriptor.notes %></td>
                <td><%#= subscriptor.vigencyStart %></td>
                <td><%#= subscriptor.vigencyEnd %></td>
                <td><%#= subscriptor.age %></td>
                <td><%#= subscriptor.gurantor %></td> -->
                <td><%= link_to '', subscriptor, title:'mostrar', rel:'tooltip', 
                        class:'btn btn-sm btn-block btn-default glyphicon glyphicon-file' %></td>
                <td><%= link_to '', edit_subscriptor_path(subscriptor), title:'editar', rel:'tooltip',
                        class:'btn btn-sm btn-block btn-default glyphicon glyphicon-edit' %></td>
                <td><%= link_to '', subscriptor, method: :delete, data: { confirm: 'Esta usted seguro?' }, title:'borrar', rel:'tooltip',
                        class:'btn btn-sm btn-block btn-default glyphicon glyphicon-trash' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-3 col-md-3'>
      <%= link_to 'Nuevo(a) Subscriptor(a)', new_subscriptor_path, class:'btn btn-xs btn-default btn-block' %>
    </div>
  </div>
</div>
