<div class='container be-round_ligth_gray'>
  <div class='row'>
    <div class='col-xs col-md-3'>
      <%= image_tag @subscriptor.picture, class:'img-fluid card'  %>
      <div class='card-block be-border_heroku'>
        <h4 class='title-small'>
          <strong><%= @subscriptor.fullname %></strong><br>
          <%= @subscriptor.email %>
        </h4>
      </div>
    </div>
    <div class='col-xs col-md-9'>
      <div class='row'>
        <div class='col-xs'>
          <strong>Cuenta: </strong>
          <%= @subscriptor.account %>
        </div>
        <div class='col-xs'>
          <strong>Grupo:</strong>
          <%#= @subscriptor.group.description %>
        </div>
        <div class='col-xs'>
          <strong>Escuela:</strong>
          <%#= @subscriptor.school.shortname %>
        </div>
        <div class='col-xs'>
          <strong>Dirección: </strong><%= @subscriptor.address %>
        </div>
        <div class='col-xs'>
          <strong>Colonia: </strong><%= @subscriptor.colony %>
       </div>
        <div class='col-xs'>
          <strong>C.P. </strong>
          <%= @subscriptor.cp %>
        </div>
        <div class='col-xs'>
            <strong>Ciudad: </strong>
            <%= @subscriptor.city %>
        </div>
        <div class='col-xs'>
          <strong>Estado: </strong>
          <%= @subscriptor.state %>
        </div>
        <div class='col-xs'>
          <strong>Telefono Fijo: </strong>
          <%= @subscriptor.telephone %>
        </div>
        <div class='col-xs'>
          <strong>Celular: </strong>
          <%= @subscriptor.celular %>
        </div>
        <div class='col-xs'>
          <strong>Edad: </strong><br>
          <%= @subscriptor.age %>
        </div>
     </div>
      <div class='row'>
        <div class='col-xs col-md-2'>
          <strong>Inicio Vigencia: </strong>
          <%= @subscriptor.vigencyStart %>
        </div>
        <div class='col-xs col-md-2'>
          <strong>Fin Vigencia:</strong>
          <%= @subscriptor.vigencyEnd %>
        </div>
        <div class='col-xs col-md-4'>
          <strong>Fiador:</strong><br>
          <%= @subscriptor.gurantor %>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs col-md-8'>
      <p>
        <strong>Notas</strong><br>
        <%= @subscriptor.notes %><br>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs col-md-4'>
      <%= link_to ' CREDENCIAL', subscriptor_credential_path(@subscriptor.id, format:"pdf"), class:'btn btn-md btn-block btn-default btn-transparent be-border_heroku' %>
      <br>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-4'></div>
    <div class='col-xs col-md-2'>
      <%= link_to 'Editar', edit_subscriptor_path(@subscriptor), class:'btn btn-md btn-block be-purple_strong' %>
    </div>
    <div class='col-xs col-md-2'>
      <%= link_to 'Regresar', subscriptors_path, class:'btn btn-md btn-block be-purple_strong' %>  
    </div>
  </div>
</div>