<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @subscriptor.account %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @subscriptor.fullname %>
</p>

<p>
  <strong>Group:</strong>
  <%= @subscriptor.group %>
</p>

<p>
  <strong>Scool:</strong>
  <%= @subscriptor.scool %>
</p>

<p>
  <strong>Email:</strong>
  <%= @subscriptor.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @subscriptor.address %>
</p>

<p>
  <strong>Colony:</strong>
  <%= @subscriptor.colony %>
</p>

<p>
  <strong>City:</strong>
  <%= @subscriptor.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @subscriptor.state %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @subscriptor.cp %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @subscriptor.telephone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @subscriptor.celular %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @subscriptor.picture %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @subscriptor.notes %>
</p>

<p>
  <strong>Vigencystart:</strong>
  <%= @subscriptor.vigencyStart %>
</p>

<p>
  <strong>Vigencyend:</strong>
  <%= @subscriptor.vigencyEnd %>
</p>

<p>
  <strong>Age:</strong>
  <%= @subscriptor.age %>
</p>

<p>
  <strong>Gurantor:</strong>
  <%= @subscriptor.gurantor %>
</p>

<%= link_to 'Edit', edit_subscriptor_path(@subscriptor) %> |
<%= link_to 'Back', subscriptors_path %>
