<div class='container be-round_ligth_gray'>
  <div class='row'>
    <div class='col-xs-3 col-md-3'>
      <%= image_tag @subscriptor.picture, class:'img-fluid card'  %>
      <div class='card-block be-border_heroku'>
        <h4 class='title-small'>
          <strong><%= @subscriptor.fullname %></strong><br>
          <%= @subscriptor.email %>
        </h4>
      </div>
    </div>
    <div class='col-xs-9 col-md-9'>
      <div class='row'>
        <div class='col-xs-2 col-md-2'>
          <p>
            <strong>Cuenta: </strong>
            <%= @subscriptor.account %>
          </p>
        </div>
        <div class='col-xs-2 col-md-3'>
          <p>
            <strong>Grupo:</strong>
            <%= @subscriptor.group.description %>
          </p>
        </div>
        <div class='col-xs-5 col-md-4'>
          <p>
            <strong>Escuela:</strong>
            <%= @subscriptor.school.shortname %>
          </p>      
        </div>
      </div>
      <div class='row'>
        <div class='col-xs col-md-5'>
          <p>
            <strong>Dirección: </strong><%= @subscriptor.address %>
          </p>      
        </div>
        <div class='col-xs col-md-4'>
         <p>
          <strong>Colonia:</strong><%= @subscriptor.colony %>
        </p>
       </div>
     </div>
      <div class='row'>
        <div class='col-xs-2 col-md-3'>
          <p>
            <strong>C.P.</strong><br>
            <%= @subscriptor.cp %>
          </p>
        </div>
        <div class='col-xs-3 col-md-3'>
          <p>
            <strong>Ciudad</strong><br>
            <%= @subscriptor.city %>
          </p>         
        </div>
        <div class='col-xs-3 col-md-3'>
          <p>
            <strong>Estado</strong><br>
            <%= @subscriptor.state %>
          </p>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-2 col-md-2'>
          <p>
            <strong>Telefono Fijo</strong>
            <%= @subscriptor.telephone %>
          </p>
        </div>
        <div class='col-xs-2 col-md-2'>
          <p>
            <strong>Celular</strong><br>
            <%= @subscriptor.celular %>
          </p>
        </div>
        <div class='col-xs-2 col-md-2'>
          <p>
            <strong>Edad</strong><br>
            <%= @subscriptor.age %>
          </p>
        </div>
        <div class='col-xs-2 col-md-2'></div>
      </div>
      <div class='row'>
        <div class='col-xs-2 col-md-2'>
          <p>
            <strong>Inicio Vigencia</strong><br>
            <%= @subscriptor.vigencyStart %>
          </p>
        </div>
        <div class='col-xs-2 col-md-2'>
          <p>
            <strong>Fin Vigencia:</strong>
            <%= @subscriptor.vigencyEnd %>
          </p>
        </div>
        <div class='col-xs-4 col-md-4'>
          <p>
            <strong>Fiador:</strong>
            <%= @subscriptor.gurantor %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-8 col-md-8'>
      <p>
        <strong>Notas</strong><br>
        <%= @subscriptor.notes %>
      </p>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-xs-4 col-md-4'></div>
    <div class='col-xs-3 col-md-2'>
      <%= link_to 'Editar', edit_subscriptor_path(@subscriptor), class:'btn btn-md btn-block be-purple_strong' %>
    </div>
    <div class='col-xs-3 col-md-2'>
      <%= link_to 'Regresar', subscriptors_path, class:'btn btn-md btn-block be-purple_strong' %>  
    </div>
  </div>
</div>