<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @school.fullname %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @school.responsable %>
</p>

<p>
  <strong>Email:</strong>
  <%= @school.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @school.telephone %>
</p>

<p>
  <strong>Library:</strong>
  <%= @school.library %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
