<div class='row'>
    <div class='col-xs col-md-12'>
        <%#= render :partial => 'books/books' %>
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>ISBN</th>
                  <th>Titulo</th>
                  <th>Autor</th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <% @books.each do |book| %>
                  <tr>
                    <td><%= book.id %></td>
                    <td><%= book.isbn %></td>
                    <td><%= book.title %></td>
                    <td><%= book.autor %></td>
                    <td>
                      <%= link_to book, class:'rigth btn btn-md btn-default'  do %>
                        <%= octicon 'repo-push' %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
      </div>
    </div>
</div>
