<div class='container'>
    <div class='row'>
        <div class='col-xs-12 col-md-12'>
            <h1>Libros prestados</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs col-md-2'>
            <a class="btn btn-default btn-block clearFilters"><span class="glyphicon glyphicon-erase"></span> Limpiar filtros</a>
        </div>
        <div class='col-xs col-md-6'>
            <%= bootstrap_form_tag   :html => {id:'selectSearchMethod'}, layout: :horizontal do |f| %>
                <%= f.form_group do %>
                    <%= f.select_with_bootstrap :filtro, [['Subscriptor','1'], ['Libros','2']], label:'Filtrar', label_class:'btn btn-default',include_blank:true %>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs col-md-2'>
            <%= link_to 'nuevo prestamo', new_borrow_path, class:'btn btn-default btn-block' %>
                <%#= octicon 'diff-added' %>
        </div>
        <div class='col-xs col-md-6'>
            <%= bootstrap_form_tag   :html => {id:'searchData'}, layout: :horizontal do |f| %>
            <%= f.form_group do %>
                <%= f.text_field_with_bootstrap :name, label:'Nombre', label_class:'btn btn-default' %>
            <% end %>
        </div>
        <div class='col-xs col-md-1'>
            <%= f.submit 'BUSCAR' %>
        <% end %>
        </div>
        <div class='col-xs col-md-1'><div id="spinnerContainer" class="spinner"></div></div>
        
    </div>
    <div class='row'>
        <div class='col-xs col-md-12'>
            <div class="table-responsive">
                <table class="table borrowedTbl">
                    <thead>
                        <tr>
                            <th>Libro</th>
                            <th>Subscriptor</th>
                            <th>Fecha salida</th>
                            <th>Fecha Regreso</th>
                            <th colspan='1'></th>
                        </tr>
                    </thead>
                    <tbody id='borrowedTblBody'>
                        <% @borrows.each do |borrowed| %>
                            <tr>
                                <td><%= borrowed.book.title %></td>
                                <td><%= borrowed.subscriptor.fullname %></td>
                                <td><%= borrowed.outDate %></td>
                                <td><%= borrowed.returnDate %></td>
                                <td><%= link_to setReturned_borrows_path({:borrow => borrowed.id}),
                                        :method => :put,
                                        data:{confirm:'Libro regresado?'} do %>
                                        <%= octicon 'repo-clone' %></td>
                                    <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
