<div class='container'>
    <div class='row'>
        <div class='col-xs-12 col-md-12'>
            <h1>Libros prestados</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs col-md-2'>
            <%= link_to 'nuevo prestamo', new_borrow_path, class:'btn btn-default btn-block' %>
                <%#= octicon 'diff-added' %>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs col-md-12'>
            <div class="table-responsive">
                <table class="table borrowedTbl">
                    <thead>
                        <tr>
                            <th>Libro</th>
                            <th>Subscriptor</th>
                            <th>Fecha salida</th>
                            <th>Fecha Regreso</th>
                            <th colspan='1'></th>
                        </tr>
                    </thead>
                    <tbody id='borrowedTblBody'>
                        <% @borrows.each do |borrowed| %>
                            <tr>
                                <td><%= borrowed.book.title %></td>
                                <td><%= borrowed.subscriptor.fullname %></td>
                                <td><%= borrowed.outDate %></td>
                                <td><%= borrowed.returnDate %></td>
                                <td><%= link_to setReturned_borrows_path({:borrow => borrowed.id}),
                                        :method => :put,
                                        data:{confirm:'Libro regresado?'} do %>
                                        <%= octicon 'repo-clone' %></td>
                                    <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
