<!DOCTYPE html>
<html>
<head>
  <title>BIBLI0$</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section id="myheader">
  <div class="container">
    <div class="row be-purple_strong">
      <div class="col-xs col-md-12">
        <% if logged_in? %>
            <%# unless session[:expires_at].to_time < Time.current %>
                <div class="pull-left round round-sm hollow blue">
                  <span class="glyphicon glyphicon-user"></span>
                </div>
                <span class="label label-md label-primary">
                    <%= link_to editPass_users_path(current_user), title:'editar', rel:'tooltip' do %>
                        usuario <%=" " + current_user.name.upcase %>
                    <% end %>
                </span>
                <span class="pull-right">
                <%= link_to ' CUENTAS', users_path, class:'btn btn-xs be-border_heroku' %>
                <%= link_to ' GRUPOS', groups_path, class:'btn btn-xs be-border_heroku' %>
                <%= link_to ' BIBLIOTECAS', libraries_path, class:'btn btn-xs be-border_heroku' %>
                <%= link_to ' RESPONSABLES', responsables_path, class:'btn btn-xs be-border_heroku' %>
                <%= link_to ' ESCUELAS', schools_path, class:'btn btn-xs be-border_heroku' %>
                <%= link_to ' USUARIOS', subscriptors_path, class:'btn btn-xs be-border_heroku' %>
                <%= link_to ' LIBROS', books_path, class:'btn btn-xs be-border_heroku' %>
                <%= link_to logout_path, method: :delete, class:'btn btn-xs btn-danger' do %>
                    <span class='glyphicon glyphicon-log-out'> Logout</span>
                <% end %> 
              </span>
            <%# else %>
                <%# reset_session %>
                <%# redirect_to login_path, notice: "You have been log out" %>
            <%# end %>
        <% end %>
        <% flash.each do |key, value| %>
            <p style="color: #F6FFFF;" id='<%= key %>'><%= value %></p>
        <% end %>
      </div>
    </div>
  </div>
</section>
<%= yield %>
</body>
</html>
